.container.context{
  justify-content: center;
  align-items: center;
}
p.context{
  font-size: calc(10px + 4vmin);
  font-weight: bold;
  color: #2D3748;
}
p.sub_context{
  font-size: calc(10px + 2vmin);
}
p.sub_sub_context{
  font-size: calc(15px);
}
