.container.context{
  padding-top: 70px;
  justify-content: center;
  align-items: center;
}
p.context{
  font-size: calc(10px + 4vmin);
  font-weight: bold;
}
p.sub_context{
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}
p.sub_sub_context{
  font-size: calc(10px + 1vmin);
  font-weight: normal;
}
