.container.context{
  justify-content: center;
  align-items: center;
}
p.context{
  font-size: calc(10px + 3vmin);
  font-weight: bold;
}
p.sub_context{
  font-size: calc(10px + 2vmin);
  font-weight: 600;
}
p.sub_sub_context{
  font-size: calc(15px);
  font-weight: 500;
}
.row{
  min-height: 100vh;
}
.h100{
  height: 100%;
}
.polya{
  height: 30%;
  font-size: calc(3vw + 3vh + 2vmin);
  font-family: Polya;
  position: relative;
  color: white;
  justify-content: center;
}
.polya-lg{
  height: 30%;
  font-size: calc(4vw + 4vh + 3vmin);
  font-family: Polya;
  position: relative;
  color: white;
  justify-content: center;
}
.polya-md{
  height: 30%;
  font-size: calc(3vw + 3vh + 2vmin);
  font-family: Polya;
  position: relative;
  color: white;
  justify-content: center;
}
canvas{
  position: absolute !important;
}
.tagcloud{
  font-size: 25px;
}
.progressVisualFull {
  display: flex;
  height: 10px;
  margin: 20px 0;
}
.progressVisualPart {
  transition: width 3s;
}
.progressLabel {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 979px) {
  .polya{
    font-size: calc(1vw + 3vh);
  }
  .polya-md{
    font-size: calc(2vw + 2vh + 1vmin);
  }
  .tagcloud{
    font-size: 15px;
  }
}