.about-me{
  height: 30%;
  font-size: calc(3vw + 3vh + 2vmin);
  font-family: pristine;
  color: whitesmoke;
}

.this-is-me{
  font-family: papyrus;
  font-size: calc(.5vw + 1vh + 1vmin);
  font-weight: 500;
}
